@import "colors.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @bg3;

  background-color: @bg0;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @fg;
}

image {
  color: @grey1;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @blue;
}
