/* =============================
   NOTIFICATION COLOR DEFINES
   ============================= */

@define-color noti-border-color     #E6E3DE; /* foreground */

@define-color noti-bg               #1F262B; /* background */
@define-color noti-bg-focus         #1F262B; /* background */

@define-color noti-bg-alt           #2A3136; /* background-alt */
@define-color noti-bg-hover-alt     #2A3136; /* background-alt */

@define-color noti-fg               #E6E3DE; /* foreground */

@define-color noti-bg-hover         #B07A78; /* active */

@define-color noti-close-bg         #CFA3A0; /* selected */
@define-color noti-close-bg-hover   #B07A78; /* active */

@define-color noti-urgent           #3A2F2B; /* urgent */

@define-color bg-selected           #1F262B; /* background */
