* {
    background:     #333C43FF; /* bg0 */
    background-alt: #3A464CFF; /* bg1 */
    foreground:     #D3C6AAFF; /* fg */

    selected:       #7FBBB3FF; /* blue (focus / selection) */
    active:         #A7C080FF; /* green (success / active) */
    urgent:         #E67E80FF; /* red (error / urgent) */
}

