window {
    font-family: Fira Code Medium;
    font-size: 16pt;
    color: #d8dee9; /* Soft Nord foreground */
    background-color: rgba(36, 41, 51, 0.55); /* bg0 with transparency */
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;
    border: none;
    outline: none;
    -gtk-outline-radius: 0;
    outline-offset: 0;
}

button:focus {
    box-shadow: none;
    background-size: 20%;
}

button:hover {
    background-size: 50%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.45);
    background-color: #81a1c1; /* Soft Nord blue */
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682),
                box-shadow 0.5s ease-in;
}

button:focus,
button:focus-visible,
button:active {
    border: none;
    outline: none;
    box-shadow: none;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
